In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
#loading the dataset into df
df = pd.read_csv("https://github.com/ArinB/MSBA-CA-Data/raw/main/CA05/movies_recommendation_data.csv")

In [3]:
df.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

In [4]:
# Define the features to be used for similarity calculation
new_df = df.drop(['Movie ID','Movie Name', 'Label'], axis=1)

In [5]:
#Create a NearestNeighbors model and fit the data
model = NearestNeighbors(n_neighbors = 5)
model.fit(new_df)

#Define movie parameters
movie = [7.2, 1, 1, 0, 0, 0, 0, 1]

#Convert the movie features into a numpy array
movie = pd.DataFrame([movie], columns=new_df.columns)
movie_features = movie.values

#Using the features and its distances to find the 5 closest movies
distances, indices = model.kneighbors(movie_features)

/Users/amandagodfrey/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [6]:
#Print out the recommendations for the movies similar to those paramters
print('Recommendations:')
for i in indices:
    print(df.iloc[i]['Movie Name'])

Recommendations:
28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object